.navigation {
    padding-bottom: 5px;
    padding: 25px 0 25px 25px;
    border-bottom: 1px solid grey;
}

.link {
    font-size: 24px;
    text-decoration: none;
    color: blue;
    margin: 16px;
    transition: all linear 400ms;
}

.activeLink {
    font-size: 24px;
    text-decoration: none;
    color: red;
    margin: 16px;
    transition: all linear 400ms;
}